@import url('reset.css');
@import url('register.css');

.header__h1--login{
    font-size: calc(1em + 1vw);
    color: var(--primer-color);
}

.header__h1--login::first-letter,
.header__h1--login span{
    color: var(--segundo-color);
}

.title--login {
    width: 100%;
    text-align: center;
}

.input--register{
    height: calc(2em + 2vh);
}

.form--submit{
    height: calc(2em + 2vh);
}

