
body {
    width: 100%;
    background-image: url('/img/fondo-hojas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--cuarto-color);
    box-shadow: .1em .1em 0em var(--cuarto-color);
}

.header__nav{
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__a {
    font-size: calc(.6em + .6vw);
    padding: 2%;
    border: .1em solid var(--tercer-color);
    color: var(--tercer-color);
    border-radius: .1em;
    transition-property: background-color;
    transition-duration: 500ms;
}

.header__a:hover {
    background-color: var(--primer-color);
    color: var(--tercer-color);
}

.header__div{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    width: 100%;
    height: 80vh;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

.main__title {
    width: 100%;
    height: calc(1em + 1vh);
    font-size: calc(1em + 1vw);
    text-align: center;
}

.form {
    width: 50%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 1em;
    justify-content: center;
    font-family: var(--tipo-secundario);
    box-shadow: .2em .2em .4em var(--segundo-color);
    padding: 2%;
}

.main__form {
    width: 30%;
    color: var(--primer-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__form--description,
.main__form--title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__form--description label,
.main__form--title label{
    width: 80%;
}

.main__form--description input,
.main__form--description label,
.main__form--title label,
.main__form--title input{
    font-size: calc(.7em + .7vw);
}

.main__form--description input,
.main__form--title input{
    width: 80%;
    border: .1em solid var(--segundo-color);
    outline: none;
    padding: 1%;
}

input[type="date"] {
    color: var(--segundo-color);
    font-size: calc(.8em + .8vw);
}

label[for="init_date"],
label[for="end_date"]{
    font-size: calc(.7em + .7vw);
}

input[type="submit"] {
    width: 30%;
    height: calc(2em + 2vh);
    border: .2em solid var(--segundo-color);
    text-transform: uppercase;
    cursor: pointer;
    transition-property: background-color, color, transform;
    transition-duration: 400ms;
}

input[type="submit"]:hover {
    background-color: var(--primer-color);
    color: var(--tercer-color);
    transform: scale(.9);
}

.footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--tipo-secundario);
    color: var(--primer-color);
    font-weight: bold;
    background-color: var(--cuarto-color);
}