@import url('profile.css');
body { 
    background-image: url('../img/fondo-hojas.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__container {
    width: 100%;
    height: 80vh;
}

.main__div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__h2 {
    font-size: calc(2em + 2vw);
    padding: 1%;
    color: var(--primer-color);
    font-weight: bold;
}

.main__table {
    width: 70%;
}

.main__table tr th {
    padding: 1%;
    color: var(--primer-color);
    font-size: calc(.6em + .6vw);
    font-weight: bold;
    background-color: #ddd;
}

.main__table tr td {
    font-family: var(--tipo-secundario);
    font-size: calc(.7em + .7vw);
    border-bottom: .2em solid var(--segundo-color);
    text-align: center;
    vertical-align: middle;
}